* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* line-height: 1.6; */
    background: #f5f5f5;
    color: #222;
}

header {
    background: #222;
    color: #fff;
    padding: 15px 0;
}

img {
    width: 100px;
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

section {
    padding: 40px 20px;
    width: 90%;
    margin: auto;
    height: 100vh;
}

h2 {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
    margin-top: 20px;
}
